/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 body {
    font-family: 'Poppins', sans-serif;
  }

  .logo {
    margin-bottom: 25px;
    font-size: 40px;
  }

  .sidebar-nav {
    width: 80%;

    &__list {
        list-style: none;
        &:not(:first-child) {
            margin-bottom: 10px;
        }

        &-content{
            display: inline-block !important;
            border-radius: 50px;
            padding: 5px 15px;
            transition: all .4s ease-in-out;
            &:hover {
                background-color: rgb(214, 236, 247);
            }
        }

        .tweeet{
            display: inline-block !important;
           
            @media only screen and (min-width: 768px) {
                display: none !important;
            }
        }

        .btn-tweeet {
            background-color: #1da1f2;
            border-radius: 50px;
            transition: all .3s;

            &:hover {
                background-color: #1b95e0;
            }
        }
        
    }

     &__icon {
        width: 28px;
        height: 28px;
        margin-right: 8px;
        fill: #1da1f2;
     }

     &__links:not(:first-child) {
         font-size: 20px;
         display: none !important;
         text-decoration: none;
         color: black;

         @media only screen and (min-width: 768px) {
             display: inline-block !important;
         }
     }
  }