/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "toastr/toastr";

body {
  font-family: "Poppins", sans-serif;
}

.logo {
  margin-bottom: 25px;
  font-size: 40px;
}

.sidebar-nav {
  width: 95%;

  &__list {
    list-style: none;
    &:not(:first-child) {
      margin-bottom: 10px;
    }

    &-content {
      display: inline-block !important;
      border-radius: 50px;
      padding: 5px 15px;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: rgb(214, 236, 247);
      }
    }

    .tweeet {
      display: inline-block !important;

      @media only screen and (min-width: 768px) {
        display: none !important;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    fill: #1da1f2;
  }

  &__links:not(:first-child) {
    font-size: 18px;
    display: none !important;
    text-decoration: none;
    color: black;

    @media only screen and (min-width: 768px) {
      display: inline-block !important;
    }
  }
}

.btn-tweeet {
  background-color: #1da1f2;
  border-radius: 50px;
  transition: all 0.3s;
  color: #fff;
  font-weight: 400;

  &:hover {
    background-color: #1b95e0;
  }
}

.twit-section {
  .twit-input {
    border: none !important;
  }

  .twit-icons {
    padding-left: 84px;

    &__list {
      list-style: none;
    }

    &__links {
      text-decoration: none;
    }

    &__svg {
      width: 28px;
      height: 28px;
      margin-right: 2px;
      fill: #1b95e0;
      background-color: transparent;
      padding: 4px;
      border-radius: 50%;
      transition: all 0.3s;

      &:hover {
        background-color: #c1d9e9;
      }
    }
  }
}

.primary__title {
  padding: 10px 0;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 20px;
}

.twit-content-icons {
    width: 95%;
    &__links {
        text-decoration: none !important;
        color: #bbb;
    }

    &__svg {
        width: 25px;
        height: 25px;
        fill: #ccc;
        background-color: transparent;
        border-radius: 50%;
        padding: 2px;

        &:first-child:hover {
            background-color: #eee;
            fill: #1da1f2;
        }
    }
}



.right_sidebar {
    width: 90%;
    
    .search-box {
        position: relative;
    }

    .search_twit {
        border-radius: 40px;
        padding: 5px 2px 5px 30px;
        background-color: #e6ecf0;
        outline: none;
        border: none;
    }

    .submit_btn {
        background: transparent;
        border: none;
        position: absolute;
        top: 7px;
    }

    .search-icon {
        width: 18px;
        height: 18px;
        fill: #bbb;
    }

    .trends {
        background-color: #f5f8fa;
        border-radius: 8px;
        overflow: hidden;
        padding: 10px;

        &__item {
            line-height: 8px;
            font-size: 15px;

            &--title,
            &--twits {
                color: #9197a3;
            }
        }
    }
   
}